body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

#taskInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#addTaskBtn {
    padding: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #e0184eea;
}

#taskList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09cee8;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.task-item.completed {
    text-decoration: line-through;
    background-color: #3020c8;
}

.task-item button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn {
    background-color: #1d0ae9;
    color: white;
}

.complete-btn:hover {
    background-color: #0057b3f0;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
}
